/* Variables */
:root {
    --main-duration: 0.5s;
}

/* Global keyframes */
@keyframes show-and-move {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Header */
header :is(.logo, .list) {
    animation: show var(--main-duration) linear;
}

header .container nav a {
    transform: translateY(-20px);
    opacity: 0;
    animation: show-and-move var(--main-duration) forwards;
}

header .container nav a:nth-child(3) {
    animation-delay: 0.2s;
}

header .container nav a:nth-child(4) {
    animation-delay: 0.4s;
}

/* Landing page */
main .container * {
    transform: translateY(30px);
    opacity: 0;
    animation: show-and-move var(--main-duration) forwards;
}

main .container :nth-child(2) {
    animation-delay: 0.2s;
}

main .container :nth-child(3) {
    animation-delay: 0.4s;
}

main .container :nth-child(4) {
    animation-delay: 0.6s;
}

main .container :nth-child(5) {
    animation-delay: 0.8s;
}

/* About and Contact and Projects */
.about, .contact, .projects .container :is(h1, h2, .project) {
    transform: translateY(30px);
    opacity: 0;
}

:is(.about, .contact, .projects .container :is(h1, h2, .project)).animate {
    animation: show-and-move var(--main-duration) forwards;
}

/* Footer */
footer .container :is(a, .links) {
    opacity: 0;
    animation: show var(--main-duration) 0.8s forwards;
}